{% extends "base.html" %}

{% block title %}Health – (mw)²{% endblock %}
{% block header_page_name %} – health{% endblock %}

{% block index %}
  {% include "_sidebar.html" %}
{% endblock %}

{% block content %}
  <section id="services">
    <h2 class="section-heading">Services</h2>
    <div
      hx-get="{{ url_for('health.services_fragment') }}"
      hx-trigger="every 10s"
      hx-swap="innerHTML"
    >
      {% from "health/_macros.html" import service_card %}
      <ul class="service-list">
        {% for item in health_results %}
        {{ service_card(item) }}
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}
